{% extends 'base/base.html' %}
{% load static %}

{% block title %}Agregar Evento{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/examen/agregarEvento.css' %}">
{% endblock %}

{% block content %}


<div class="containerPrincipal">
    <div class="form-container">
        <h2> Agregar Evento </h2>
        <form id="evento-form">
            <input id="csrf_token" name="csrfmiddlewaretoken" value="{{ csrf_token }}" hidden>
            <label>Nombre:</label>
            <input type="text" id="nombre" required>
    
            <label>Descripción:</label>
            <textarea id="descripcion" required></textarea>
    
            <label>Fecha de Inicio:</label>
            <input type="datetime-local" id="fecha_inicio" required>
    
            <label>Fecha de Fin:</label>
            <input type="datetime-local" id="fecha_fin" required>
    
            <label>Localidad:</label>
            <select id="localidad" required>
                {% for localidad in localidades %}
                    <option value="{{ localidad.id }}">{{ localidad.nombre }}</option>
                {% endfor %}
            </select>
    
            <button id="crearButton" type="submit">Agregar</button>
        </form>
        <p id="mensaje" class="mensaje"></p>
    </div>
    <div class="reglas">
        <h2>Reglas</h2>
        <p> Ningun campo puede quedar vacio. </p>
        <p> La fecha de fin no puede ser menor a la fecha de inicio. </p>
        <p> La fecha inicio debe ser mayor a la fecha actual (dia de hoy). </p>
        <p> No puedes agregar dos eventos seguidos en la misma localidad. </p>
        <p> Se mostraran mensajes de guardado o de error. </p>
    </div>
</div>



<div class="tablaConainer">
    <h2>Eventos recientemente agregados</h2>
    <table id="tablaEventos">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Localidad</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="eventos-lista">
            
        </tbody>
    </table>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/examen/AgregarEventos.js' %}"></script>
<script>
    const EVENTO_CREATE_URL = "{% url 'AgregarEvento' %}";
    const EVENTO_LIST_URL = "{% url 'ObtenerEvento' %}";
    const EVENTO_DELETE_URL = "{% url 'EliminarEvento' evento_id=0 %}".replace("0/", ""); 
</script>
{% endblock %}