{% extends 'base/base.html' %}
{% load static %}
{% block title %} Boletos{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/examen/boletos.css' %}">
{% endblock %}

{% block content %}
    <h1>Boletos Disponibles</h1>

    <div class="boletos-container">
        {% for boleto in boletos %}
            <div class="boleto-item">
                <img src="{% static 'images/' %}{{ boleto.tipo_boleto.nombre|lower }}.png" alt="{{ boleto.tipo_boleto.nombre }}">

                <p class="boleto-evento">{{ boleto.evento.nombre }}</p>

                <p class="boleto-tipo">{{ boleto.tipo_boleto.nombre }}</p>

                <p class="boleto-precio">Precio: ${{ boleto.precio }}</p>
                
                <button class="boleto-comprar">Comprar</button>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block scripts %}

{% endblock %}