{% extends 'base/base.html' %}
{% load static %}
{% block title %} Eventos {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/examen/eventos.css' %}">
{% endblock %}

{% block content %}

<h1>Eventos</h1>
<div class="btn-container">
    <a href="{% url 'AgregarEvento' %}" class="btn-Crear">Agregar evento</a>
</div>
<div class="eventos">
    {% for evento in eventos %}
        {% include 'components/eventoCard.html' with evento=evento %}
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}

{% endblock %}