{% extends 'base/base.html' %}

{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/users/detail.css' %}">
{% endblock %}

{% block content %}
<div class="user-detail-container">
    <!-- Columna izquierda: imagen -->
    <div class="user-detail-left">
      <img src="{{ user.photo }}" alt="User Photo" class="user-photo" />
    </div>
  
    <!-- Columna derecha: datos del usuario -->
    <div class="user-detail-right">
      <h1>{{ user.name }}</h1>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Edad:</strong> {{ user.age }}</p>
      <p><strong>RFC:</strong> {{ user.rfc }}</p>
      
      <!-- Contenedor para centrar el botón -->
      <div class="btn-container">
        <a href="{% url 'updateUser' user.id %}" class="btn-detail">Actualizar info</a>
      </div>
    </div>
</div>
{% endblock %}


