{% extends 'base/base.html' %}
{% load static %}
{%block styles %}
<link rel="stylesheet" href="{% static 'css/components/UserCard.css' %}">
{% endblock %}

{% block content %}
<h1> Welcome to Users Dashboard </h1>
<div>
    <a href="{% url 'userList' %}" class="btn-detail"> Ver lista completa </a>
</div>

<div class="container">
    
    {% for usuario in Usuarios %}
        <div class="user-item">
            <img src="{{ usuario.photo }}" alt="Foto de {{ usuario.name }}" class="user-photo">
            <div class="user-info">
                <p class="user-name">{{ usuario.name }}</p>
                <!--<p><strong>ID:</strong> {{ usuario.id }}</p> -->
                <p><strong>Age:</strong> {{ usuario.age }}</p> 
            </div>
        </div>
    {% endfor %}
    
</div>
{% endblock %}

{% block scripts %}

{% endblock %}
