{% load static %}
<div class="eventos-container">
    <div class="evento-card">
        <div class="evento-img">
            <img src="{% static 'images/carnaval5.jpg' %}" alt="Imagen de {{ evento.nombre }}">
        </div>

        <div class="evento-info">
            <h2>{{ evento.nombre }}</h2>
            <p><strong>Localidad:</strong> {{ evento.localidad.nombre }}</p>
            <p><strong>Descripción:</strong></p>
            <p>{{ evento.descripcion }}</p>
            <p><strong>Fecha:</strong> {{ evento.fecha_inicio|date:"d/m/Y" }} - {{ evento.fecha_fin|date:"d/m/Y" }}</p>
            <a href="{% url 'Boletos' %}" class="evento-boton">Boletos</a>
        </div>
    </div>
</div>