
<div class="user-card-container container">
    <div class="user-item">
        <div >
            <img class="user-photo" src="{{photo}}" alt="Foto de {{name}}">
        </div>    
        <div class="user-info">
            <p><strong>Name</strong> <br> {{name}} </p>
            <p><strong>Email</strong> <br> {{email}} </p>
            <p><strong>ID: </strong> {{id}} </p>
        </div>
        <div>
            <a href="{% url 'userDetail' id %}" class="btn-detail"> Ver detalle </a>
        </div>
    </div>
    
</div> 