html, body {
  margin: 0;
  padding: 0;
}

/* Contenedor principal del nav */
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Separa izquierda y derecha */
  padding: 15px 20px;
  background-color: #591c92; /* Color de fondo del nav */
  width: 100%;
  box-sizing: border-box;
}

/* Estilo del logo */
.logo a {
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* Contenedor de navegación */
.nav-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1; /* Permite que los elementos ocupen todo el espacio */
  align-items: center;
}

/* Sección izquierda: Index */
.nav-left {
  margin-right: auto; /* Empuja "Index" a la izquierda */
  margin-left: 20px; /* Agrega separación entre el logo y "Index" */
}

.nav-left a {
  
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  
}

/* Sección derecha: Eventos, Boletos, Productos, Admin */
.nav-right {
  display: flex;
  gap: 30px; /* Espaciado entre los elementos */
}

/* Estilos generales para los enlaces de la derecha */
.nav-right a {
  color: #ccc; /* Color claro en los enlaces */
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.2s;
}

.nav-right a:hover {
  color: #fff; /* Se pone blanco al hover */
}
